
 body {
  font-family: 'Varela',sans-serif;
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-webkit-transform: translate3d(0px, 0px, 0px);*/
 }


 .name  {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 10px;
  color: #312c32;
 }

 .name span {
  color: #daad86;
  display: inline-block;
  letter-spacing: 12px;
  }

.bio {
  color: #c7a693;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  margin-left: -9px;
}

.delay-05s {
  -webkit-animation-delay: 0.5s;
}

.delay-09s {
  -webkit-animation-delay: 0.9s;
}

#arrow {
  font-size: 5em;
  color: #22264b;
  margin-top: 0.5em;
}

#arrow:hover {
  cursor: crosshair;
  opacity: 0.7;
}

h3 {
  color: #000;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
}


h4 {
  color: #8c9398;
  /*text-transform: uppercase;*/
  line-height: 28px;
  text-align: justify;
  /*font-weight: 400;*/
  font-weight: 500;
}

.home {
  background: url('images/bg.jpeg')no-repeat;
  background-size: cover;
  background-position: 47% center;
  background-repeat: no-repeat;
  text-align: center;
}

.text {
  margin: 0 auto;
  width: 28em;
  word-wrap: break-word;
  font-size: 17px;
}

#skills {
  white-space: nowrap;
  text-transform: none;
  font-style: italic;
  font-size: 16px;
  /*width: 30em;*/
}

#particles-js {
  /*position: fixed;*/
  /*top: 46em;*/
  /*width: 100%;
  height: 90%;*/
  /*margin-top: -45%;*/
  position: fixed;
  width: 100%;
  height: 80%;
  animation: appear 1.4s ease 0s normal forwards 1 running;
  opacity: 1;
  transform: scale(1);
}

.portfolio {
  text-align: center;
}


.fp-controlArrow.fp-next {
  border-width: 26.5px 0 26.5px 34px;
  border-color: transparent transparent transparent #431c5d;
}
.fp-controlArrow.fp-next:hover {
  cursor: crosshair;
  opacity: 0.7;
}


.fp-controlArrow.fp-prev {
  border-width: 26.5px 34px 26.5px 0;
  border-color: transparent #431c5d transparent transparent;
}

.fp-controlArrow.fp-prev:hover {
  cursor: crosshair;
  opacity: 0.7;
}

 .project-info{
  margin: 0 auto;
  /*font-family: 'Oswald';*/
  /*text-transform: none;*/
  letter-spacing: 0.5px;
  width: 28em;
  /*word-wrap: break-word;*/
  padding-top: 1em;
  /*font-weight: normal;*/
  color: #8c9398;
  font-size: 16px;
 }


 #btn {
  font-family: 'Oswald',sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 0 50px;
  padding: 10px 30px 11px 30px;
  background: transparent  ;
  transition: background .5s ease;
  -webkit-transition: background .5s ease;
 }

 #btn:hover {
   cursor: pointer;
   background: #bccbde;
 }

 .material-icons {
   font-size: 15px;
 }

 a {
   text-decoration: none;
   color: #0060B6;
 }

  a:hover{
  color:#00A0C6;

 }

.section.portfolio img:hover {
  transition: border-width 300ms ease-in-out;
  border: 7px solid #e05915;
  background: rgba(100, 194, 158, 0.8);
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  padding-bottom: 1px;
  z-index: 1;
}

 .section.portfolio img {
  position: relative;
  height: 11rem;
 }

 .rainbow {
   font-size: 20px;
   background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #226666), color-stop(0.15, #0D4D4D), color-stop(0.3, #407F7F), color-stop(0.45, #882D60), color-stop(0.6, #661141),color-stop(0.75, #661141), color-stop(0.9, #AA5585), color-stop(1, #AA5585) );
   color:transparent;
   -webkit-background-clip: text;
   background-clip: text;
 }

 .section.contact {
  text-align: center;
  z-index: -1;
 }

 .contact>canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.email {
  font-size: 25px;
}

.contact-text {
  margin: 8em auto;
  color: #f2efe8;
  /*font-family: 'Oswald', sans-serif;*/
  text-transform: none;
  /*color: #8c9398;*/
  letter-spacing: 2.5px;
  width: 26em;
  word-wrap: break-word;
  padding-top: 1em;
}

.lastmodified {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  margin: 6.5em;
}

#github {
  width: 10%;
}

#github:hover {
  cursor: crosshair;
  opacity: 0.7;
}

#linkedin {
  width: 12%;
  /*margin-bottom: -3px;*/
  position: relative;
  left: 2em;
  top: 5px;
}

#linkedin:hover {
  cursor: crosshair;
  opacity: 0.7;
}

.heart {
  color: red;
  font-size: 16px;
}

.site-design {
  font-size: 13px;
}





/*iphone 5*/
@media screen and (device-aspect-ratio: 40/71) {
  .text {
    width: 24em;
    margin: 0 auto;
    font-size: 11px;
  }

  #skills {
    font-size: 14px;
    font-style: italic;
  }

  .section.portfolio img {
    position: relative;
    height: 7rem;
    width: 7rem;
  }

  #slide2 img {
    position: relative;
    height: 8rem;
    width: 6rem;
  }

  .fp-controlArrow.fp-prev {
    border-width: 18.5px 34px 18.5px 0;
    margin-left: -1em;
  }

  .fp-controlArrow.fp-next {
    border-width: 18.5px 0 18.5px 34px;
    margin-right: -1em;
  }

  .project-info {
    margin: 0 auto;
    letter-spacing: -0.5px;
    width: 32em;
    padding-top: 1em;
    font-size: 9px;
  }

  .contact-text {
   letter-spacing: 1.5px;
   width: 22em;
   padding-top: 0em;
   font-size: 15px;
  }

  h4 {
    line-height: 25px;
  }

  .section.portfolio h3 {
    margin-left: 1rem;
  }

  .section.portfolio h4 {
    font-weight: normal;
  }

  #btn {
    margin: 0px 0 0 47px;
    padding: 10px 28px 11px 9px;
  }


  .rainbow {
    font-size: 17px;
  }

  .site-design {
    font-size: 11px;
  }

  .rainbow {
    font-size: 12px;
  }

  .lastmodified {
    margin: 3.5em;
  }

}

/*other phones*/
@media only screen and (max-width: 500px) {
  .text {
    width: 24em;
    margin: 0 auto;
    font-size: 13px;
  }

  .section.portfolio img {
    position: relative;
    height: 7rem;
    width: 7rem;
  }

  #slide2 img {
    position: relative;
    height: 8rem;
    width: 6rem;
  }

  .fp-controlArrow.fp-prev {
    border-width: 20.5px 34px 20.5px 0;
  }

  .fp-controlArrow.fp-next {
    border-width: 20.5px 0 20.5px 34px;
  }

  .project-info {
    letter-spacing: -0.5px;
    width: 22em;
    padding-top: 1em;
    font-size: 14px;
  }

  .contact-text {
    letter-spacing: 1.5px;
    width: 22em;
    padding-top: 0em;
    font-size: 15px;
  }

  .site-design {
    font-size: 11px;
  }

}

@media screen and (min-device-width: 768px) {
    /* ipad-portrait */
    @media screen and (max-width: 896px) {
      #particles-js{
        height: 60%;
      }
    }
    /* ipad-landscape */
    @media screen and (min-width: 897px) {

    }
}
